{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["component", {
      "libraryName": "atom-design",
      "style": true
    }]
  ]
}