/* fade animation */
.fade-enter-active, .fade-leave-active {
  transition: opacity 150ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
/* scale animation */
.scale-enter-active {
  transition: transform 150ms cubic-bezier(0, 1.52, 1, 1.51);
}
.scale-leave-active {
  transition: transform 150ms cubic-bezier(0, -0.54, 0.97, -0.51);
}
.scale-enter, .scale-leave-to {
  transform: scale3d(0.6, 0.6, 1);
}

/* slideTop animation */
.slideTop-enter-active, .slideTop-leave-active {
  transition: transform 100ms linear;
}
.slideTop-enter, .slideTop-leave-to {
  transform: translate3d(0, 100%, 0);
}

/* slide right animation */
.slideRight-enter-active, .slideRight-leave-active {
  transition: transform 300ms linear;
}
.slideRight-enter, .slideRight-leave-to {
  transform: translate3d(-100%, 0, 0);
}
