.atom-loading0 {
  position: relative;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  border: 2px solid #ddd;
  .loading-item {
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 23px;
    height: 23px;
    border: 3px solid transparent;
    border-bottom: 3px solid #108ee9;
    border-radius: 100%;
    animation: rotateAnim 1s linear infinite;
  }
}
@keyframes rotateAnim {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.atom-loading1 {
  position: relative;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  border: 2px solid #ddd;
  .loading-item {
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 23px;
    height: 23px;
    border: 3px solid transparent;
    border-bottom: 3px solid #108ee9;
    border-top: 3px solid #108ee9;
    border-radius: 100%;
    animation: rotateAnim 1s linear infinite;
  }
}
@keyframes rotateAnim {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.atom-loading2 {
  position: relative;
  box-sizing: border-box;
  .loading-item {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 10px;
    background: inherit;
    border-radius: inherit;
    animation: scaleAnim 500ms linear infinite 500ms alternate;
  }
}
.atom-loading2::before {
  content: ' ';
  position: absolute;
  left: -25px;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: scaleAnim 500ms linear infinite 250ms alternate;
}
.atom-loading2::after {
  content: ' ';
  position: absolute;
  left: -40px;;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: scaleAnim 500ms linear infinite alternate;
}
@keyframes scaleAnim {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(0.5, 0.5, 1);
  }
}

.atom-loading3 {
  position: relative;
  box-sizing: border-box;
  .loading-item {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 10px;
    background: inherit;
    border-radius: inherit;
    animation: fadeAnim 1s ease infinite 666ms;
  }
}
.atom-loading3::before {
  content: ' ';
  position: absolute;
  left: -25px;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: fadeAnim 1s ease infinite 333ms;
}
.atom-loading3::after {
  content: ' ';
  position: absolute;
  left: -40px;;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: fadeAnim 1s ease infinite;
}
@keyframes fadeAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.atom-loading4 {
  position: relative;
  box-sizing: border-box;
  .loading-item {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 10px;
    background: inherit;
    border-radius: inherit;
    animation: fadeAndrotateZAnim 1s ease infinite 666ms;
  }
}
.atom-loading4::before {
  content: ' ';
  position: absolute;
  left: -25px;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: fadeAndrotateZAnim 1s ease infinite 333ms;
}
.atom-loading4::after {
  content: ' ';
  position: absolute;
  left: -40px;;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: fadeAndrotateZAnim 1s ease infinite;
}
@keyframes fadeAndrotateZAnim {
  from {
    opacity: 1;
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    opacity: 0.2;
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

.atom-loading5 {
  position: relative;
  box-sizing: border-box;
  .loading-item {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 10px;
    background: inherit;
    border-radius: inherit;
    animation: fadeAndrotateYAnim 1s ease infinite 666ms;
  }
}
.atom-loading5::before {
  content: ' ';
  position: absolute;
  left: -25px;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: fadeAndrotateYAnim 1s ease infinite 333ms;
}
.atom-loading5::after {
  content: ' ';
  position: absolute;
  left: -40px;;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: fadeAndrotateYAnim 1s ease infinite;
}
@keyframes fadeAndrotateYAnim {
  from {
    opacity: 1;
    transform: scale3d(0, 1, 0, 0);
  }
  to {
    opacity: 0.2;
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

.atom-loading6 {
  position: relative;
  box-sizing: border-box;
  .loading-item {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 10px;
    background: inherit;
    border-radius: inherit;
    animation: fadeAndrotateXAnim 1s ease infinite 666ms;
  }
}
.atom-loading6::before {
  content: ' ';
  position: absolute;
  left: -25px;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: fadeAndrotateXAnim 1s ease infinite 333ms;
}
.atom-loading6::after {
  content: ' ';
  position: absolute;
  left: -40px;;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: inherit;
  animation: fadeAndrotateXAnim 1s ease infinite;
}
@keyframes fadeAndrotateXAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
    transform: rotate3d(1, 0, 0, 180deg);
  }
}

.atom-loading7 {
  position: relative;
  box-sizing: border-box;
  border-radius: 6px;
  .loading-item {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 30px;
    background: inherit;
    animation: scaleAnim 500ms ease infinite 500ms alternate;
    border-radius: inherit;
  }
}
.atom-loading7::before {
  content: ' ';
  position: absolute;
  left: -25px;
  width: 10px;
  height: 30px;
  background: inherit;
  border-radius: inherit;
  animation: scaleAnim 500ms ease infinite 250ms alternate;
}
.atom-loading7::after {
  content: ' ';
  position: absolute;
  left: -40px;;
  width: 10px;
  height: 30px;
  background: inherit;
  border-radius: inherit;
  animation: scaleAnim 500ms ease infinite alternate;
}
