.atom-range {
  position: relative;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  .range-default-line {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate3d(0, -50%, 0);
    width: 100%;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
  }
  .range-active-line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    width: 50%;
    height: 2px;
    background: #108ee9;
  }
  .active-slider {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #108ee9;
    box-shadow: 0 0 10px #108ee9;
    border: 3px solid white;
  }
  &.active .range-indicator {
    opacity: 0.8;
  }
  .range-indicator {
    position: absolute;
    z-index: 1;
    bottom: 32px;
    left: -10px;
    transform: translate3d(-25%, 0, 0);
    opacity: 0;
    transition: opacity 150ms;
    .indicator-content {
      position: relative;
      min-width: 10px;
      padding: 0 5px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: 12px;
      background: black;
      color: white;
      border-radius: 3px;
      &::before {
        content: ' ';
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        border: 5px solid transparent;
        border-top: 10px solid black;
      }
    }
  }
}
