.atom-progress {
  position: relative;
  height: 20px;
  line-height: 20px;
  .progress-default-line {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 100%;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
  }
  .progress-active-line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    width: 50%;
    height: 2px;
    background: #108ee9;
    transition: width 150ms linear;
  }
  .active-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(0, -50%, 0);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #108ee9;
    box-shadow: 0 0 3px 5px lightblue;
  }
}
