.atom-picker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2020;
  width: 100%;
  height: 100%;
  .picker-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    .picker-header {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      border-bottom: 1px solid #f0f1f2;
      box-sizing: border-box;
    }
    .picker-content {
      position: relative;
      z-index: 3;
      font-size: 16px;
      .picker-col-content {
        display: flex;
        overflow: hidden;
        height: 200px;
        .picker-col {
          flex-grow: 1;
          position: relative;
          .picker-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: transform 0;
            padding: 80px 0;
            z-index: 1;
            .picker-item {
              height: 40px;
              line-height: 40px;
              text-align: center;
            }
          }
        }
      }
      .picker-indicator {
        pointer-events: none;
        position: absolute;
        top: 80px;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #f0f1f2;
        border-left: none;
        border-right: none;
      }
      .picker-mask {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 1)), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 1));
        background-position: top, bottom;
        background-repeat: no-repeat;
        background-size: 100% 80px;
      }
    }
  }
}
